/* Font Styles */
* {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: none;
  font-size: 16px;
  padding: 4px 20px;
  margin-top: 1rem;
}

.light-button, .dark-button {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.dark-button {
  background: rgb(39, 39, 39);
  color: white;
}

.light-button:hover {
  background: black;
  color: white;
}

.dark-button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #6200ee;
  padding: 4px 16px;
}

h1 {
  margin: auto auto;
}

.center-text {
  text-align: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

body {
  border-radius: 4px;
  box-shadow: 0px 2px 6px 2px rgba(211, 211, 211, 0.7);
  margin: 0;
  transition: .5s;
}

input {
  width: inherit;
}

main {
  padding: 4px 16px;
}

.margin-r-auto {
  margin-right: auto;
}

.doc-fragment {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.delete-icon {
  margin-left: auto;
}

.budget-section {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
}

.budget-form {
  display: flex;
}

#expense-chart {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#chart-title {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  * {
    font-size: 16px;
  }

  input {
    width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .budget-form {
    flex-direction: column;
  }
}

@media screen and (min-width: 991px) {
  body {
    margin: auto 25%;
  }
}