/* TOC */
/*
1. global styles
2. tag styles
3. custom class styles
4. custom id styles
5. pseudo-class styles
6. media-queries
*/

/* 1. global styles */
* {
  font-family: 'Montserrat', sans-serif;
}

/* 2. tag styles */
a {
  text-decoration: none;
  color: black;
  border-radius: 16px;
  background: none;
  font-size: 16px;
  padding: 8px 34px;
}

a, body, header, .doc-fragment, #dark-mode-icon {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

body {
  border-radius: 4px;
  margin: 0;
  transition: .5s;
}

h1 {
  margin: auto auto;
  padding-left: 24px;
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  color: white;
  background-color: #6200ee;
  padding: 4px 16px;
}

html {
  scroll-behavior: smooth;
}

input {
  width: inherit;
}

main {
  padding: 1rem 16px;
}

/* 2. custom class styles */
.budget-form {
  display: flex;
}

.budget-section {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
}

.delete-icon {
  margin-left: auto;
}

.dark-button {
  background: rgb(39, 39, 39);
  color: white;
}

.doc-fragment {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  align-items: center;
}

.dark-theme-body {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.dark-theme-header, .dark-theme-form {
  background-color: rgb(39, 39, 39);
}

.light-theme-body {
  background-color: white;
  color: black;
} 

.light-theme-header {
  background-color: rgb(98, 0, 238);
}

.light-theme-form {
  background-color: white;
}

.expense-header {
  align-items: center;
  display: flex;
}

.main-budget-container {
  margin-bottom: 2rem;
}

.margin-r-auto {
  margin-right: auto;
}

/* 4. custom id styles */
#chart-title {
  text-align: center;
}

#expense-chart {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#save-alt {
  margin-left: auto;
  border-radius: 16px;
  padding: 4px;
}

/* 5. pseudo-classes */
.light-button:hover {
  background: black;
  color: white;
}

.dark-button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* 6. media queries */
@media screen and (min-width: 320px) and (max-width: 530px) {
  * {
    font-size: 16px;
  }

  input {
    width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .budget-form {
    flex-direction: column;
  }
}

@media screen and (min-width: 991px) {
  body {
    margin: auto 25%;
  }
}